<div class='container-fluid'>
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Apk</h1>
      </div>
  </div>

<form role="form" accept-charset="UTF-8" enctype="multipart/form-data" action="{{path}}" method="{{method}}">
  <div class='row'>
    <div class="col-lg-6">

        <div class="form-group">
            <label>Name</label>
            <input class="form-control" placeholder="input title" name="name" value="{{ apk.name }}">
            <p class="help-block">Example block-level help text here.</p>
        </div>
        <div class='row'>
          <div class="col-lg-6">
            <div class="form-group">
                <label>version</label>
                <input class="form-control" placeholder="input version" name="version" value="{{ apk.version }}">
                <p class="help-block">Example block-level help text here.</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="checkbox">
              <label>
                  <input type="checkbox" name="isActive" {{ isChecked apk.isActive }}>is active
              </label>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg-6">
      <div class="form-group">
        <label>Seller</label>
        {{ selectTag sellerOptions sellerCollection apk.sellerId }}
      </div>
      <div class="form-group">
        <label>Reward</label>
        <input class="form-control" placeholder="input reward" name="reward" value="{{ apk.reward }}">
        <p class="help-block">Example block-level help text here.</p>
      </div>
      <div class="form-group">
        <label>Digest</label>
        <input class="form-control" placeholder="input digest" name="digest" value="{{ apk.digest }}">
        <p class="help-block">Example block-level help text here.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <div class="form-group">
        <label>Sort Num</label>
        <input class="form-control" placeholder="input sor num" name="sortNum" value="{{ apk.sortNum }}">
      </div>
      <div class="form-group">
        <label>Apk</label>
        <input class="form-control" placeholder="input Apk" type="file" name="apk" value="{{ apk.apk }}">
        {{#if apk.apkPath}}
        <p class="help-block">
          <a href="{{ apk.apkPath }}">{{ apk.apk }}</a>
        </p>
        {{/if}}
      </div>
      <div class="form-group">
        <label>Icon</label>
        <input class="form-control" placeholder="input Icon" type="file" name="icon" value="{{ apk.icon }}">
        {{#if apk.icon}}
          <p class="help-block">
            <img class="col-lg-8 col-lg-offset-2 img-responsive" src="{{ apk.icon }}">
          </p>
        {{/if}}
        </div>
    </div>

    <div class="col-lg-6">
      <div class="form-group">
        <label>Screenshort 01</label>
        <input class="form-control" placeholder="input screenshort" type="file" name="image01" value="{{ apk.image01 }}">
        {{#if apk.image01}}
          <p class="help-block">
            <img class="col-lg-8 col-lg-offset-2 img-responsive" src="{{ apk.image01 }}">
          </p>
        {{/if}}
      </div>
       <div class="form-group">
        <label>Screenshort 02</label>
        <input class="form-control" placeholder="input screenshort" type="file" name="image02" value="{{ apk.image02 }}">
        {{#if apk.image02}}
          <p class="help-block">
            <img class="col-lg-8 col-lg-offset-2 img-responsive" src="{{ apk.image02 }}">
          </p>
        {{/if}}
      </div>
      <div class="form-group">
        <label>Screenshort 03</label>
        <input class="form-control" placeholder="input screenshort" type="file" name="image03" value="{{ apk.image03 }}">
        {{#if apk.image03}}
          <p class="help-block">
            <img class="col-lg-8 col-lg-offset-2 img-responsive" src="{{ apk.image03 }}">
          </p>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      <div class="form-group">
          <label>Description</label>
          <textarea class="form-control kindeditor" id="description" name="description" rows="3">{{apk.description}}</textarea>
          <p class="help-block">Example block-level help text here.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-11">
      <button type="submit" class="pull-right btn btn-primary">Submit Button</button>
    </div>
  </div>

</form>

</div>
