<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          Extract Orders
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>手机号码</th>
                <th>状 态</th>
                <th>转 换</th>
                <th>花 费</th>
                <th>获得流量</th>
                <th>创建时间</th>
              </tr>
            </thead>
            <tbody>
              {{#each extractOrders.rows}}
                <tr>
                    <td>{{ phone }}</td>
                    <td>{{ stateName }}</td>
                    <td>{{ extractOrderLink exchanger }}</td>
                    <td>{{ cost }}</td>
                    <td>{{ value }} M</td>
                    <td>
                      {{ strftime createdAt }}
                    </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <!-- /.table-responsive -->
      </div>

      <div class="panel-footer">
          {{pagination extractOrders (addParams '/admin/extractorders' query)}}
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
</div>