<div class="container" style='background-color: white;'>
  <div class="row">
    <img class="img-responsive" src="{{apk.adimage}}">
  </div>

  <div class="space-6"></div>
  <div class="row">
    <div class="col-xs-3 col-md-3">
      <img class="img-responsive" src="{{apk.icon}}">
    </div>
    <div class="col-xs-8 col-md-8">
        <div class="row">
          <p class="col-xs-12">{{ apk.name }}</p>
         <small class="col-xs-12  text-muted">
            <img src="/images/coin.png" > <span class='orange'>+{{ apk.reward }}E币</span>
          </small>
        </div>
      </div>
  </div>
  <div class="row">
    <small class="col-xs-3 col-xs-offset-3 text-muted">
     {{ apk.downloadTime }} 次安装
    </small>
    <small class="col-xs-3 col-xs-offset-2 text-muted">
     {{ sizeFormat apk.apkSize }}
    </small>
  </div>

  <hr>
  <div class="row">
    {{ apkImages apk }}
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 fulltext">
      <p>
        简介：
      </p>
      <p>
        {{ htmlSafe apk.description }}
      </p>
    </div>
  </div>
  <div class="row">
    <small class="col-xs-12 text-muted" style='color: #c7254e;'>
      必须确保您从未安装过该软件
    </small>
    <div class="col-xs-12 col-md-12">
      <a class="download" href="/apkcenter/download/{{apk.id}}?c={{customer.password_hash}}">
        <button type="button" class="btn btn btn-success btn-lg btn-block">
          <i class="glyphicon glyphicon-download-alt"></i>
          下载
        </button>
      </a>
    </div>
  </div>
  <div class="space-6"></div>
  <div class="space-6"></div>
  <div class="space-6"></div>
</div>



