<div class="container dtb_distribution">
  <div class='row'>
     <div class="item uinfo col-xs-12">
        <img src="{{ customer.headimgurl }}" onError="this.src='http://placehold.it/380x380';" class="img-rounded img-responsive">
        <div class="info">
           <h5>{{ customer.username }}</h5>
           <p><small>关注时间： {{ strftime customer.subscribeTime "YYYY-MM-DD" }}</small></p>
           <p><small>推荐人： {{#if parent }} {{ parent.username }} {{else}} 浮云网络 {{/if}}</small></p>
           {{#if customer.isAffiliate }}<p><small style='color:red'>恭喜你已经成为供应商</small></p>{{/if}}
        </div>
     </div>
   </div>
   <div class='row'>
     <div class="item total col-xs-12">
        <div style="width:100%;">
           <div style="width:50%;">分销收入：{{ customer.salary }}E币</div>
           <div style="width:50%;">账户余额：{{ customer.remainingTraffic }}E币</div>
        </div>
     </div>
   </div>
   <div class="row">
    <a href="/myticket">
      <div class="item col-xs-12">
        <h3><i class="glyphicon glyphicon-th-large"></i>我的二维码</h3>
      </div>
    </a>
   </div>

   <div class='row'>
    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
     <div class="item col-xs-12">
        <h3><i class="glyphicon glyphicon-cog"></i>我的会员<em>{{ sum }}人</em></h3>
      </div>
    </a>
    <div id="collapseOne" class="col-xs-12 panel-collapse collapse">
      <div class="panel-body" style="padding: 10px; background-color: #ffffff;">
          <ul class="slaves">
            {{#each result }}
              <li>
                <a href="/myslaves?depth={{ @index }}">
                  <span>
                    <i class="glyphicon glyphicon-user" ></i>{{ name }}
                  </span>
                  <span class="badge pull-right orange-bg">{{ count }}</span>
                </a>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <a href="/apply">
        <div class="item col-xs-12">
          <h3><i class="glyphicon glyphicon-folder-close"></i>  佣金提现</h3>
        </div>
      </a>
    </div>

    <div class="row">
      <a href="/salary">
        <div class="item col-xs-12">
          <h3><i class="glyphicon glyphicon-home"></i>  我的收入</h3>
        </div>
      </a>
    </div>

    <div class="row">
      <a href="/givento">
        <div class="item col-xs-12">
          <h3><i class="glyphicon glyphicon-header"></i>  转赠</h3>
        </div>
      </a>
    </div>

    <div class="row">
      <a href="/givento">
        <div class="item col-xs-12">
          <h3><i class="glyphicon glyphicon-list-alt"></i>  提现记录</h3>
        </div>
      </a>
    </div>
</div>