<style type="text/css">
.myaccount-title {

  background-color: #6F6565;
  padding: 10px;
}
.myaccount-title span {
  margin-left: 20px;
}
.myaccount-title span {
  margin-bottom: 10px;
  color: #ffffff;"
}

.aline {
  font-size: x-large;
  margin: 10px;
}
.aicon {
  margin-top: 18px;
  margin-right: 10px;
}
.menu-link li a{
  margin-left: 35px;
}

.menu-link a{
  margin-right: 25px;
}

.menu-link i {
  color: #D86949;
  padding-right: 20px
}

.orange-bg {
  background-color: #f0ad4e;
}

</style>
<div class="space-1"></div>
<div class="row">
  <div class="col-xs-12">
      <div class="row" style='margin-left: 5px'>
        <div class="col-xs-4">
          <img src="{{ customer.headimgurl }}" onError="this.src='http://placehold.it/380x380';" class="img-rounded img-responsive">
        </div>
        <div class="col-xs-8">
          <h5>{{ cusomter.id }}</h5>
          <p><small>关注时间： {{ strftime customer.subscribeTime "YYYY-MM-DD" }}</small></p>
          <p><small>推荐人： {{ parent.username }}</small></p>
          {{#if customer.isAffiliate }}<p><small style='color:red'>恭喜你已经成为供应商</small></p>{{/if}}
        </div>
      </div>
  </div>
</div>
<h5 class="myaccount-title">
  <span>分销收入： {{ customer.salary }}</span>
</h5>

<nav id="navbar-example2" class="navbar navbar-default navbar-static">
  <div class="navbar-collapse bs-example-js-navbar-scrollspy collapse in" aria-expanded="true">
    <ul class="nav navbar-nav">
      <a href="/myticket">
        <li class="col-xs-12">
          <span class="pull-left aline">
              <i class="glyphicon glyphicon-th-large"></i>  我的二维码</span>
          <span class="pull-right"><i class='glyphicon glyphicon-menu-right aicon'></i></span>
        </li>
      </a>
      <hr>
      <li class="col-xs-12 dropdown">
        <a href="#" id="navbarDrop1" data-toggle="dropdown">
          <span class="pull-left aline">
            <i class="glyphicon glyphicon-cog"></i>  我的会员</span>
          <span class="pull-right"><i class='glyphicon glyphicon-menu-right aicon'></i></span>
        </a>
        <ul class="dropdown-menu menu-link" aria-labelledby="navbarDrop1">
          {{#each result }}
            <li>
              <a href="/myslaves?depth={{ @index }}">
                <span>
                  <i class="glyphicon glyphicon-user" ></i>{{ name }}
                </span>
                <span class="badge pull-right orange-bg">{{ count }}</span>
              </a>
            </li>
          {{/each}}
        </ul>
      </li>
      <hr>
      <a href="/apply">
        <li class="col-xs-12">
          <span class="pull-left aline">
          <i class="glyphicon glyphicon-folder-close"></i>  佣金提现</span>
          <span class="pull-right"><i class='glyphicon glyphicon-menu-right aicon'></i></span>
        </li>
      </a>
      <hr>
      <a href="#mdo">
        <li class="col-xs-12">
          <span class="pull-left aline">
          <i class="glyphicon glyphicon-home"></i>  我的收入</span>
          <span class="pull-right"><i class='glyphicon glyphicon-menu-right aicon'></i></span>
        </li>
      </a>
      <hr>
      <a href="/givento">
        <li class="col-xs-12">
          <span class="pull-left aline">
          <i class="glyphicon glyphicon-header"></i>  转赠</span>
          <span class="pull-right"><i class='glyphicon glyphicon-menu-right aicon'></i></span>
        </li>
      </a>
      <hr>
    </ul>
  </div>
</nav>

