<div class="content">
  <div class="liuliang">
      <div class="name-img">
          <a href="#">
              <img src="/images/profile.png" id="WxHeadLogo"/></a>
      </div>
      <div class="name-con">
            <li><span class="orange" id="WxNickName">{{ customer.username }}</span></li>
          <li><span class="tel" id="Mobile">{{ customer.phone }} </span></li>
      </div>
  </div>
    <div class="ll-shuzi">
      <div class="yue">
        <div class="help">
            <a href="Help.html">帮助</a>
        </div>
        <div class="tit">
            当前流量币余额
        </div>
        <div class="miane">
            <span class="shuzi"> {{ customer.remainingTraffic }} </span>
            <span class="zhao">流量币</span>
            <!--<div class="zhuanqu"><a href="/list.html">领取流量</a></div>-->
        </div>
      </div>
      <div class="list-con" onclick="javascript:window.location.href='/income'">
        <div class="tit">
            最近收入
        </div>
        {{#if flowHistory.source}}
          <div class="con" id="GetRec">
              <div class="img">
                  {{!-- <img id="Face" src="res/images/img-01.png" /> --}}
              </div>
              <div class="text">
                  <div class="over">
                      <span class="gray">收入来源：</span>
                      <span id="SourceName">{{ flowSource flowHistory.source }}</span>
                  </div>
                  <div class="over">
                      <span class="gray">收入数量：</span>
                      <span id="FlowPrice"> {{ flowHistory.amount }} </span>流量币
                  </div>
                  <div class="over">
                      <span class="gray">收入备注：</span>
                      <span id="Remark"> {{ flowHistory.comment }} </span>
                  </div>
              </div>
          </div>
        {{/if}}
      </div>
      <div class="add">
        <li>
          <a href="/tasks">
            <img src="/images/pro-03.png">
            <div class="con">
              <div class="text">领取流量</div>
            </div>
          </a>
        </li>
        <li>
          <a id="buy" href="/payment">
            <img src="/images/pro-04.png">
            <div class="con">
              <div class="text">购买流量币</div>
            </div>
          </a>
        </li>
        <li>
          <a href="/income">
            <img src="/images/pro.png" style=" margin-top:3px;"/>
            <div class="con">
              <div>累计收入<br /><span  class="gray">(流量币)</span></div>
              <div class="">
                  <span class="box-02" id="Get"> {{ customer.income }} </span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <a href="/spend">
            <img src="/images/pro-02.png"  style=" margin-top:3px;"/>
            <div class="con">
              <div>累计支出<br/><span class="gray">(流量币)</span></div>
              <div class="">
                <span class="box-02" id="Give"> {{ customer.expenditure }}</span>
              </div>
            </div>
          </a>
          </li>
      </div>
      </div>
    </div>
    <div id="bottomWrap" style="height: 60px;"></div>
    <div class="bottom">
        <li><a href="/extractflow">
            <img src="/images/iphone.png" />提取流量</a></li>
        <li><a href="/apkcenter">
            <i class="glyphicon glyphicon-th-large"></i>软件中心</a></li>
    </div>