<div style="padding-top: 10px;">
  {{#each tasks}}
    {{!-- <div class="active container">
      <div class="active_01">
        <a href="{{ taskLink this }}">
          <div class="active_02">
            <img class="img-responsive" src="{{cover}}">
            <div class="title">
              <div class="title-left">{{title}}  {{{expiredStr expiredAt}}}</div>
            </div>
          </div>
        </a>
      </div>
    </div> --}}
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-xs-12">
        <a href="{{ taskLink this }}">
          <div class="col-lg-12 col-xs-12">
              <img class="img-responsive" src="{{cover}}">
          </div>
          <div class="col-lg-12 col-xs-12">
            <h4 class="pull-left">{{title}}  {{{expiredStr expiredAt}}}</h4>
          </div>
        </a>
      </div>
    </div>
  {{/each}}
</div>
