<div class="content">
  <div class="form-group">
      <div class="tel-name">充值号码：</div>
      <div class="tel-input">
          <input type="text" class="form-control" placeholder="请输入手机号码" id="mobile" maxlength="11">
      </div>
      <div id="phone-detail" class="correct" style="display: none" >   </div>
  </div>
  <div class="form-group">
    <div class="row" id="chooseMoney">
      <div class="col-xs-6">
        <button type="button" class="btn btn-warning col-xs-12">帐号余额</button>
      </div>
      <div class="col-xs-6">
        <button type="button" class="btn btn-default col-xs-12">分销奖励</button>
      </div>
    </div>
  </div>
  <div class="form-group">
      <div class="tel-name" id="balance">选择流量包（您当前可提取流量<span style="color:orange;"> {{customer.remainingTraffic}}  </span>E币）</div>
      <hr>
      <div class="llb">
      </div>
      <div class="error" style="display: none;"></div>
  </div>
  <div class="sale-price">
      <div class="right">应付E币：<span id="needmyflow" class="orange">0</span>个</div>
  </div>
  <div class="ml">
      <div class="btn-submit" id="exchanger"><a href="javascript:void(0);">提取流量到手机</a></div>
      <div class="zw-tips"><a href="../about/tiquguize.html">提取规则说明</a></div>
      <div class="inform">
        <p>【有效期】当月有效，月底清零</p>
        <p>【流量类型】2/3/4G通用（不含港澳台,全天不分时段）</p>
        <p>【充值限制】可无限次充值【停机或转主套餐未生效以及随心王套餐不能办理】</p>
        <p>【查询方式】发cxll到10086查询省内通用流量，也可以登录本《孚云》微信公众号查看充值进度</p>
        <p>【使用方式】查询到流量即可使用</p>
        <p>—— 重点注意以下——</p>
        <p>【常见问题】充值成功后未收到或收不齐短信,属于正常情况,不影响到账,可以发送CXLL到10086查询【特殊情况会延迟到账，一般不超过24小时】或登录本《孚<云》微信公众号查看充值进度</p>
      </div>
  </div>
</div>

{{> alertmodal }}
{{> extractConfirm }}

<script id="trafficplans-template" type="text/x-handlebars-template">
\{{#each trafficgroups}}
  <div>
    <p>\{{name}}</p>
    <div>
    \{{#each trafficplans}}
      <a class="mask01" /{{#if @first}} selected {{/if}} data-value="\{{id}}" data-flow='\{{name}}' data-cost="\{{cost}}" >\{{name}}<div class="an"></div></a>
    \{{/each}}
    </div>
  </div>
  <hr>
\{{/each}}
</script>

<script type="text/javascript">
$(function(){
  $("#chooseMoney .btn").click(function(){
    $("#chooseMoney .btn").removeClass("btn-warning").addClass("btn-default")
    $(this).removeClass("btn-default").addClass("btn-warning")
  })
})

</script>