<div class="content">
  <div class="form-group">
      <div class="tel-name">手机号码：</div>
      <div class="tel-input">
          <input type="text" class="form-control" placeholder="请输入手机号码" id="mobile" maxlength="11">
      </div>
      <div id="phone-detail" class="correct" style="display: none" >   </div>
  </div>
  <div class="form-group">
      <div class="tel-name" id="balance">选择流量包（您当前可提取流量<span style="color:orange;"> {{customer.remainingTraffic}}  </span>流量币）</div>
      <div class="llb">
      </div>
      <div class="error" style="display: none;"></div>
  </div>
  <div class="sale-price">
      <div class="right">应付流量币：<span id="needmyflow" class="orange">0</span>个</div>
  </div>
  <div class="ml">
      <div class="btn-submit"><a href="javascript:void(0);">提取流量到手机</a></div>
      <div class="zw-tips"><a href="../about/tiquguize.html">提取规则说明</a></div>
      <div class="inform" style="display:none;">
          <h1>提取规则：</h1>
          <p>1、流量币永不过期，提取流量即将您参与活动获得的流量币提取为电信、移动、联通的手机上网流量包。</p>
          <p>2、提取流量范围：中国电信全国、中国联通全国、中国移动广东省。（移动其它省份提取服务将陆续开通）</p>
          <p>3、可以为自己或者朋友的手机号码提取流量包，流量包将在24小时内到账。</p>
          <p>4、手机上网流量包当月提取当月生效，月底到期。</p>
          <p>5、受运营商流量充值规则限制，用户手机以下情形无法提取流量包：停机、欠费、时长卡、未激活、所属套餐不能办理订购流量业务、携号转网用户、移动多号通业务的副号。</p>
          <p>6、受运营商流量充值规则限制，以下情形可能无法提取流量包：中国电信部分省份的4G用户、中国联通部分省份的2G或4G用户、虚拟运营商用户以及流量包叠加充值等。</p>
          <p>7、如果出现提取失败，流量币将在2日内返还到您的流量钱包中。</p>
      </div>
  </div>
</div>

{{> alertmodal }}
{{> extractConfirm }}

<script type="text/javascript" src='/javascript/rechargeflow.js'></script>
<script id="trafficplans-template" type="text/x-handlebars-template">
\{{#each trafficplans}}
  <a class="mask01" /{{#if @first}} selected {{/if}} data-value="\{{id}}" data-flow='\{{name}}' data-cost="\{{cost}}" >\{{name}}<div class="an"></div></a>
\{{/each}}
</script>


<script type="text/javascript">
///手机验证
function isMobile(mobile) {
    var reg = /^1\d{10}$/;
    return (mobile !== undefined && mobile !== '' && reg.test(mobile))
}

function getCarrier(phone){
  var source   = $("#trafficplans-template").html();
  $.ajax({
    url: 'https://tcc.taobao.com/cc/json/mobile_tel_segment.htm',
    method: 'GET',
    dataType: 'JSONP',
    data: {
      tel: phone
    }
  }).done(function(result){
    // areaVid: "30517"carrier: "广东移动"catName: "中国移动"ispVid: "3236139"mts: "1382846"province: "广东"
    if(result.catName){
      $("#phone-detail").html(result.catName + ' ' + result.carrier).data("provider", result.carrier).show()
      getTrafficplan(source, result.catName)
      submitIsEnable(true);
    }else{
      showDialog("请输入正确的手机号码");
    }
  })
}

function getTrafficplan(source, catName){
  var template = Handlebars.compile(source);
  $.ajax({
    url: '/getTrafficplans',
    dataType: 'JSON',
    data: {
      catName: catName
    },
    method: "GET"
  }).done(function(data){
    var html = template({trafficplans: data})
    $(".llb").html(html)
  }).fail(function(err){
    console.log(err)
  })
}

function extractConfirm(){

  ///提取流量事件
  $(".btn-submit").click(function() {
      ///转赠流量
      var selectedFlow = $(".llb a.selected");
      //if (selectedFlow.attr('class', 'mask01')) {
      //    alertMsg("您的余额不足，无法完成此项操作", false);
      //    return;
      //}
      var flowId = selectedFlow.data("value");
      if (!flowId || flowId == "") {
          showDialog("请选择流量包");
          return;
      }

      var flow = selectedFlow.data("flow"),
          phone = $.trim($("#mobile").val())
      $("#maskflow").html(flow)
      $("#maskmobile").html(phone)
      $("#mask").show()
  });


  $(".sure").click(function(){
    var selectedFlow = $(".llb a.selected"),
        phone = $.trim($("#mobile").val()),
        flowId = selectedFlow.data("value");

    if(isMobile(phone) && flowId !== undefined && flowId !== '' ){
       $.ajax({
        url: '/extractFlow',
        dataType: "JSON",
        data: {
          phone: phone,
          flowId: flowId
        },
        method: "POST"
       }).done(function(data){
        showDialog(data.msg)
        if(!data.err){
          doDelay(function(){
            window.location.href = data.url
          }, 1)
        }
       }).fail(function(err){
        console.log(err)
        showDialog("服务器繁忙")
       })
    }else{
      showDialog("请输入电话好吗和选择正确的套餐")
    }
  })

}

$(function() {
  extractConfirm()
  $(".llb").on('click', 'a', function(){
    var $this = $(this)
    $this.parent().children().removeClass("selected");
    $(this).addClass("selected");
    var cost = $this.data("cost");
    $("#needmyflow").html(cost);
  })

  //手机号码失去焦点事件
  $("#mobile").bind("blur", function () {
      var mobile = $.trim($(this).val());
      if ($.trim(mobile) == "") {
          $(".correct").hide();
          $(".correct").html("");
          $(".llb").html("");
          showDialog("请输入手机号码");
          return;
      }
      if (!isMobile(mobile)) {
          $(".correct").hide();
          $(".correct").html("");
          $(".llb").html("");
          showDialog("请输入正确的手机号码");
          return;
      }
      getCarrier(mobile);
  });

})
</script>