<style type="text/css">
.tg .row {
  margin-bottom: 20px
}

.tg p {
  margin-left: 10px
}
.tg .dy-top {
  margin-top: -10px;
}
.tg .hrg {
  margin-top: 7px
}
</style>

<div class="content">
  <div class="form-group">
      <div class="tel-name">充值号码:</div>
      <div class="tel-name">(<span style="color: red">先输入手机号码，系统智能推荐套餐</span>)</div>
      <div class="tel-input">
          <input type="text" class="form-control" placeholder="先输入手机号码，自动适配运营商" id="mobile" maxlength="11">
      </div>
      <div id="phone-detail" class="correct" style="display: none" >   </div>
  </div>
  <div class="form-group">
    <div class="row" id="chooseMoney">
      <div class="col-xs-6">
        <button type="button" data-id="balance" data-less='{{customer.remainingTraffic}}' class="selected btn btn-warning col-xs-12">帐号余额</button>
      </div>
      <div class="col-xs-6">
        <button type="button" data-id="salary" data-less='{{customer.salary}}' class="btn btn-default col-xs-12">分销奖励</button>
      </div>
    </div>
  </div>
  <div class="form-group">
      <div class="tel-name tel-title" id="balance">选择流量包（您当前可充值流量<span style="color:orange;"> {{customer.remainingTraffic}}  </span>E币）</div>
      <div class="tel-name tel-title" style="display: none;" id="salary">选择流量包（您当前可用<span style="color:orange;"> {{customer.salary}}  </span>E币）</div>
      <hr>
      <div class="llb">
      </div>
      <div class="error" style="display: none;"></div>
  </div>
  <div class="sale-price">
      <div class="right">应付E币：<span id="needmyflow" class="orange">0</span>个</div>
  </div>
  <div class="ml">
      <div class="zw-tips"><a href="../about/tiquguize.html">提取规则说明</a></div>
      <div class="inform">
        <p>【有效期】广东移动国内流量包当月有效，月底自动清零（建议月初1-10号充）。</p>
        <p>广东移动200M省内流量包，充值到账后有效期为20天，月结日不影响。</p>
        <p>【流量类型】2/3/4G通用（不含港澳台,全天不分时段）</p>
        <p>【充值限制】可无限次充值【停机或转主套餐未生效以及随心王套餐不能办理】</p>
        <p>【查询方式】发cxll到10086查询省内通用流量，也可以登录本《孚云网络》微信公众号查看充值进度</p>
        <p>【使用方式】查询到流量即可使用</p>
        <p>—— 重点注意以下——</p>
        【常见问题】充值成功后，10086会有短信提示成功（广东移动国内流量包晚上10点后不会有信息提醒，广东移动省内200M流量包，晚上8点后不会有信息提醒）。可以<p>发送cxll到10086查询【特殊情况会延迟到账，一般不超过1小时】或登录本《孚云网络》微信公众号查看充值进度</p>
      </div>
  </div>
</div>

{{> alertmodal }}
{{> extractConfirm }}
{{> loading }}

<script id="trafficplans-template" type="text/x-handlebars-template">
\{{#each trafficgroups}}
  <div class="tg">
    <p>\{{name}}</p>
    <div class="row">
    \{{#each trafficplans}}
      <div class="col-xs-12">
        <div class="col-xs-3 btn btn-info">\{{name}}</div>
        <span class="col-xs-7 hrg">\{{name}} \{{cost}}E币</span>
        <div class="col-xs-2">
          <div class="row dy-top">
            <a href="javascript:void(0);" class="hide"></a>
            <a class="col-xs-6 pull-right exchanger" data-name="\{{name}}" data-value="\{{id}}" data-cost="\{{cost}}" href="javascript:void(0);">提取</a>
          </div>
        </div>
      </div>
      <hr>
    \{{/each}}
    </div>
  </div>
  <hr>
\{{/each}}
</script>

<script type="text/javascript">
$(function(){
  $("#chooseMoney .btn").click(function(){
    $("#chooseMoney .btn").removeClass("btn-warning").removeClass('selected').addClass("btn-default")
    $(this).removeClass("btn-default").addClass("btn-warning").addClass('selected')
    var $this = $(this),
        _id = $this.data("id")
    $(".tel-title").hide()
    $("#" + _id).show()
  })
})

</script>