<div class="content">
  <div class="buy-red">
      <div class="zd-list"><a href="http://www.liuliangwan.net/bank/BuyFlowList.html">账单</a></div>
      <div class="name-img">
          <a href="http://www.liuliangwan.net/bank/BuyFlow.html#">
              <img id="userhead" src="./购买流量币_files/0"></a>
      </div>
      <div class="name-con"><span class="orange" id="username"> {{ customer.username }} </span></div>
  </div>
  <div class="form-group">
      <div class="buy-tel">流量玩账号：</div>
      <div class="buy-text" id="usermobile">{{ customer.phone }}</div>
  </div>
  <div class="form-group">
      <div class="tel-name">购买流量玩流量币数量：</div>
      <div class="llb" id="buylist">
        {{#each dataPlans }}
          <a href="javascript:void(0);" data-price="{{ price }}" data-id="{{ id }}" data-value="{{ value }}">{{ name }}</a>
        {{/each}}
      </div>
      <input type="hidden" id="txtFlowCount" value="">
  </div>
  <div class="sale-price">
      <div class="left">注：1流量币=0.01元</div>
      <div class="right">售价：<span class="orange" id="txtPayMoney">1.00</span>元</div>
  </div>
  <div class="ml">
      <div id='pay-now' class="btn-submit"><a href="javascript:void(0);">立即支付</a></div>
  </div>
    <div class="zw-tips"><a href="http://www.liuliangwan.net/about/goumai.html">购买规则说明  </a></div>
</div>
{{> alertmodal }}
{{> paymentConfirm }}
<script type="text/javascript">
function submitIsEnable(isEnable) {
    if (!isEnable) {
        $(".btn-submit").data("enable", false);
        $(".btn-submit a").addClass("btn-gray");
    } else {
        $(".btn-submit").data("enable", true);
        $(".btn-submit a").removeClass("btn-gray");
    }
}

function RegistEvent() {
    // 选择流量币大小
    $("#buylist").on("click", "a", function (e) {
        var target = e.target;
        $(target).siblings().each(function () {
            $(this).removeClass("selected");
            if ($(this).children(".an").length > 0) {
                $(this).children(".an").remove();
            }
        });
        $(target).addClass("selected");
        $(target).append("<div class=\"an\"></div>");

        var flowId = $(target).data("id"),
            flowCount = $(target).data("price");
        $("#txtFlowCount").val(flowId);
        $("#txtPayMoney").html(parseInt(flowCount).toFixed(2));
    });
    $("#buylist a:eq(0)").click()
}


function paymentConfirm(){

  $("#pay-now").click(function() {
    var selectedFlow = $(".llb a.selected");
    var flowId = selectedFlow.data("id");
    if (!flowId || flowId == "") {
        showDialog("请选择流量包");
        return;
    }

    var flow = selectedFlow.data("value"),
        price = selectedFlow.data("price")
    $("#maskflow").html(flow)
    $("#maskmoney").html(price)
    $("#mask").show()
  });

  $(".sure").click(function(){
    var $this = $(this),
        dataPlanId = $("#txtFlowCount").val()

    if(dataPlanId !== undefined && dataPlanId !== ''){
      $.ajax({
        url: '/pay',
        method: 'POST',
        dataType: "JSON",
        data: {
          dataPlanId: dataPlanId,
          paymentMethod: 'WechatPay'
        }
      }).done(function(data) {
        showDialog(data.msg)
        if(!data.err){
          doDelay(function(){
           window.location.href = data.url
         }, 1)
        }
      }).fail(function(err) {
        console.log(err)
        showDialog("服务器繁忙")
      })
    }else{
      showDialog("请输入电话好吗和选择正确的套餐")
    }
  })
}

$(function() {
  RegistEvent()
  paymentConfirm()
})
</script>